<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pilene.DataBase.Properties.Settings.Pilene_DatabaseConnectionString"
            connectionString="Data Source=(localdb)\Projects;Initial Catalog=Pilene.Database;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>